.elems {
  flex-direction: column;
  gap: 5rem;
}

.elem {
  width: 95%;
  background: var(--secondary);
  border-radius: 2rem;
  max-width: var(--max-width);
  flex-direction: column;
  padding: 2rem 6rem;
  align-items: flex-start;
  gap: 2rem;
}

.elem > h1 {
  font-size: 2.4rem;
}

.elem > p {
  font-size: 1.8rem;
}

.picture-conatiner {
  margin-top: 6rem;
  overflow: hidden;
}

.picture-gallery {
  border-radius: 2rem;
  background: var(--secondary);
  width: 95%;
  max-width: var(--max-width);
  flex-direction: column;
}

.picture-gallery > h1 {
  font-size: 3rem;
}

.images {
  display: grid !important;
  grid-template-columns: repeat(3, 400px);
  row-gap: 5rem;
  column-gap: 5rem;
  grid-template-rows: repeat(3, 400px);
  padding: 3rem;
}

.img {
  flex-direction: column;
  gap: 2rem;
}

.img > img {
  width: 25rem;
}

.img > p {
  font-size: 1.6rem;
}
